:root {
  --nav-height: 60px;
  --blue: #00acdc;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.header__logo-img {
  width: 40px;
  height: auto;
  display: block;
}

.nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__item {
  font-size: 12px;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--nav-height);
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.nav__link:hover {
  color: var(--blue);
}

.nav__link.is-active {
  position: relative;
  color: var(--blue);
}

.nav__link.is-active:hover {
  color: black;
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  height: 4px;
  border-radius: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: var(--blue);
}
